body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #1a1a1a;
    color: #fff;
    overflow-x: hidden;
}

#page-title {
    color: #fff;
    text-align: center;
}

.header .nav ul {
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    font-size: 1.1rem;
    margin: 0;
}

.header .nav ul li {
    margin: 0 10px;
}

.header .nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 12px 15px;
    border-radius: 3px;
}

.header .nav ul li a.active,
.header .nav ul li a:hover {
    background: #f33;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    margin-bottom: 32px;
}

.status_cards {
    background: rgba(17, 24, 39, 0.5);
    border: 1px solid #374151;
    border-radius: 12px;
    padding: 24px;
    transition: all 0.2s;
}



.container p {
    text-align: center;
}

.page-title {
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.middle-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 30px 0;
    flex-wrap: wrap;
}

.middle-buttons button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(135deg, #000000, #8E1616);
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.middle-buttons button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px crimson;
}

.tab-content {
    display: none;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

.tab-content.active {
    display: block;
}


#crimeTypeChart {
    width: 30rem;
    height: 40rem;
    margin: auto;
    display: block;
}